{% extends 'index.html'%}

{% block l1%}
<h5>Don't have account? <a href="/register">Register</a></h5>
{%endblock%}

{%block l2%}
<div class="login_form form card-left">
                    <h2>Sign In</h2>
                    
                    <form action="/" method="post">
                        


                        <label for="email">Registered Email Id:</label><br>
                        <input type="email" placeholder="Enter your mail" name="email"><br>

                        <label for="password">Password:</label><br>
                        <input type="password" placeholder="password" name="password"><br>
                        <input type="submit" value="login">
                        <h3 style="margin-bottom: 50px; color: aliceblue;">Don't have account? <a href="/register" >Register</a></h3>
                        

                    </form>
                    
                     
                </div>
{%endblock%}