{% extends 'todo.html'%}

  {%block form%}
                    <!-- <h1>Sign Up</h1> -->
                    
                    <form action="/update/{{value.id}}" method="post">
                        


                        <!-- <label for="email">Registered Email Id:</label><br> -->
                        <input type="text" placeholder="Add new task" name="task" value="{{value.task}}" ><br>
                        <div class="lowpartoffrom">
                        <div >

                        <label >Due date:</label><br>
                        <input type="date" name="date" value="{{value.daate}}">
                        </div >

                        <div >
                        <label for="">Category:</label><br>
                        <input type="text" placeholder="Add your task category" name="category" value="{{value.category}}">
                        </div>
                        
                        <input type="submit" value="+Add">
                        
                        </div>
                        
                        

                    </form>
                    <!-- <h5>Don't have account? <a href="/register">Register</a></h5> -->
                     
                </div>
                </div>
                {%endblock%}